<!-- weather.page.html -->

<ion-header>
  <!-- Header section -->
  <ion-toolbar color="danger">
    <!-- Back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- Title -->
    <ion-title class="header-title">Your Local Forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="weather-page">
  <!-- Main content section -->
  <div class="content-wrapper">
    <!-- Weather card section -->
    <ion-card *ngIf="weatherInfo" class="weather-card">
      <!-- Card header -->
      <ion-card-header>
        Your Local Weather Information
      </ion-card-header>
      <!-- Card content -->
      <ion-card-content>
        <h2>No matter the weather, its always good to get outside! it does wonders for your health </h2>
        <!-- Temperature information -->
        <p class="weather-info">Temperature: <span class="large-text">{{ weatherInfo.main.temp }}°C</span></p>
        <p class="weather-info">Humidity: <span class="large-text">{{ weatherInfo.main.humidity }}%</span></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
