/* Global Styles */

/* Back Button Styles */
.back-button {
  --color: #fff; /* Change back button color to white */
}

/* Style for the main container of the weather page */
.weather-page {
  padding: 0; /* Reset padding */
}

/* Content Wrapper Styles */

/* Style for the wrapper containing the content */
.content-wrapper {
  padding: 20px; /* Add padding */
}

/* Weather Card Styles */

/* Style for the weather card */
.weather-card {
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/* Header Title Styles */

/* Style for the header title */
.header-title {
  font-size: 20px; /* Larger font size */
}

/* Weather Info Styles */

/* Style for the weather information */
.weather-info {
  font-size: 16px; /* Medium font size */
  color: #555; /* Dark gray color */
}

.large-text {
  font-size: 24px; 
  font-weight: bold;
}