/*could not get to work 
.background-image {
    background-image: url('../assets/background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   

}
