/* Global Styles */
.nutrition-page {
  padding: 20px;
}

/* Content Wrapper Styles */
.content-wrapper {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
.input-item {
  margin-bottom: 20px;
}

/* Button Styles */
.submit-button {
  margin-top: 20px;
}

/* Info Wrapper Styles */
.info-wrapper {
  margin-top: 20px;
}

/* Displayed Results Styles */
.info-list ion-item {
  font-size: 20px; 
  font-weight: bold; /* Make the text bold */
  color: #333; 
}

.item-name {
  margin-bottom: 5px;
}

.item-info {
  font-size: 16px;
  color: #555;
}
